@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1200px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
$second-font-family: "Noto Serif JP", serif;
$third-font-family: "Cormorant", serif;
$fourth-font-family: "Roboto", sans-serif;

// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
   background-color: #272625;
}

// フォントウェイト
$light: 300;
$regular: 400;
$medium: 500;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #222222;
$black2: #272625;
$black3: #332F27;
$white: #F9F2E5;
$gray: #BCB5A8;
$gray2: #99958F;
$red: #F93212;





