@use "global" as *;

.form__item {
    @include mq(md) {
        grid-template-columns: 135fr 350fr;
        align-items: center;
        display: grid;
        justify-content: space-between;
    }
}

.form__item--radio {
    @include mq(md) {
        flex-direction: column;
        align-items: baseline;
        grid-template-columns: 1fr;
    }
}

.form__item:not(:first-child) {
    margin-top: rem(18);

    @include mq(md) {
        margin-top: rem(27);
    }
}

.form__item dt {
    font-size: rem(14);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $white;
    line-height: calc(17 / 14);
}

.form__item dt sup {
    color: $red;
}

.form__contact-btn {
    margin-top: rem(16);
    display: flex;
    justify-content: center;

    @include mq(md) {
        margin-top: rem(40);
        margin-right: rem(45);
    }
}

.form__radios {
    display: flex;
    flex-direction: column;
    gap: rem(23);
    margin-top: rem(10);
    margin-left: rem(12);

    @include mq(md) {
        flex-direction: initial;
        display: flex;
        flex-wrap: wrap;
        gap: rem(40);
        row-gap: rem(23);
        margin-left: rem(20);
        justify-content: left;
        margin-top: rem(28);
    }
}

.form__radio {
    display: flex;
    align-items: center;
    font-size: rem(14);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $white;
    line-height: calc(17 / 14);
}

input::placeholder,
textarea::placeholder {
    color: $gray2;
    font-size: rem(14);
    font-weight: $regular;
    font-family: $base-font-family;
    line-height: calc(17 / 14);
    padding-block: rem(6) rem(8);
    padding-left: rem(5);
}


.form__textarea {
    @include mq(md) {
        align-self: start;
        margin-top: rem(16);
    }
}

textarea {
    resize: none;
    width: rem(360);
    height: rem(171);
}

.form__submit {
    transition: 0.3s ease;
    font-size: rem(15);
}

.form__submit:hover {
    box-shadow: rem(3) rem(3) rem(6) rgba($black4, $alpha: 0.8);
}