@use "global" as *;

.section-header {
    display: flex;
    align-items: center;
    gap: rem(16);
    @include mq(md){
       gap: rem(30);
    }
}

.section-header__title {
    font-size: rem(32);
    font-weight: $regular;
    font-family: $third-font-family;
    color: $white;
    line-height: calc(39 / 32);
    letter-spacing: 0.05em;
    position: relative;
    display: flex;
    padding-left: rem(30);
    align-items: center;
    @include mq(md){
        font-size: rem(38);
        line-height: calc(46 / 38);
        padding-left: rem(33);
    }
}

.section-header__title--color {
    color: $black;
}

.section-header__title::before {
    content: "";
    display: inline-block;
    background-image: url(../images/common/section_logo-white.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 48%;
    transform: translateY(-48%);
    left: rem(0);
    height: rem(20);
    width: rem(20);
    margin-right: rem(10);
}

.section-header__title--color::before {
    background-image: url(../images/common/section_logo-black.svg);
}

.section-header__line {
    background-color: $white;
    width: 100%;
    height: rem(1);
    flex-grow: 1;
}

.section-header__line--color {
    background-color: $gray2;
}

